# Host de la base de datos
DB_HOST=
# Contraseña de la base de datos
DB_PASSWORD=
# Usuario de la base de datos
DB_USER=
# Puerto para conectarse a la base de datos
DB_PORT=
# Nombre de la base de datos
DB_NAME=
# URL de Redis para la conexión
REDIS_URL=
# Entorno actual del proyecto (development, production, etc.)
ENVIRONMENT=
# Firma secreta para usar en el ACCESS TOKEN puedes usar una pagina como https://www.vondy.com/random-key-generator--ZzGGMYgS?lc=5
ACCESS_TOKEN_SECRET_KEY=
# Firma secreta para usar en el REFRESH TOKEN puedes usar una pagina como https://www.vondy.com/random-key-generator--ZzGGMYgS?lc=5
REFRESH_TOKEN_SECRET_KEY=
# Algoritmo que va a usar jwt para hashear
ALGORITHM=
# Tiempo para el refresh token expire en DÍAS
REFRESH_TOKEN_EXPIRE=
# Tiempo para que el jwt expire en MINUTOS
ACCESS_TOKEN_EXPIRE=
# Correo electronico para enviar correos
MAIL_USERNAME=
# Contraseña del correo eléctronico
MAIL_PASSWORD=
# Correo eléctronico nuevamente
MAIL_FROM=